* {
  scroll-behavior: auto !important;
}

.color1 {
  color: #ffa200;
}

a, p, h1, h2, h3, h4, h5, h6 {
  font-family: "secound" !important;
}

.fontAr1 {
  font-family: "banal";
}

.fontAr2 {
  font-family: "secound" !important;
}

a button.fontAr2 {
  font-family: "secound" !important;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title h2 {
  color: white;
  font-family: "secound" !important;
  margin-bottom: 20px;
}
.title h2 span {
  color: #ffa100;
  font-weight: bolder;
  font-family: "banal";
}
.title .spreateor {
  width: 100%;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
}
.title .spreateor img {
  width: 150px;
}

a {
  text-decoration: none !important;
}

span {
  font-family: "banal" !important;
  color: #ffc400 !important;
}

.splide .splide__track {
  width: 100%;
  height: 100%;
  padding: 15px !important;
}
.splide .splide__track ul.splide__list {
  width: 100%;
  height: 100%;
}
.splide .splide__track ul.splide__list li.splide__slide {
  width: 100%;
  height: 250px;
}
.splide .splide__track ul.splide__list li.splide__slide div.box {
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../imgs/courses/WhatsApp Image 2025-12-29 at 12.28.40 PM.jpeg");
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
}
.splide .splide__track ul.splide__list li.splide__slide div.box:hover .item {
  opacity: 1 !important;
}
.splide .splide__track ul.splide__list li.splide__slide div.box.box2 {
  background-image: url("../imgs/courses/WhatsApp Image 2025-12-29 at 12.28.41 PM.jpeg");
}
.splide .splide__track ul.splide__list li.splide__slide div.box.box3 {
  background-image: url("../imgs/courses/WhatsApp Image 2025-12-29 at 12.28.42 PM.jpeg");
}
.splide .splide__track ul.splide__list li.splide__slide div.box.box4 {
  background-image: url("../imgs/courses/WhatsApp Image 2025-12-29 at 12.28.44 PM.jpeg");
}
.splide .splide__track ul.splide__list li.splide__slide div.box .newItem {
  position: absolute;
  top: 26px;
  left: -44px;
  transform: rotate(-45deg);
  background-color: #ffa100;
  width: 182px;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.splide .splide__track ul.splide__list li.splide__slide div.box .newItem h2 {
  width: 100%;
  text-align: center;
  color: white !important;
}
.splide .splide__track ul.splide__list li.splide__slide div.box .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  opacity: 0;
  transition: all 0.5s;
}
.splide .splide__track ul.splide__list li.splide__slide div.box .item .title {
  margin-bottom: 5px;
}
.splide .splide__track ul.splide__list li.splide__slide div.box .item .title h2 {
  margin-bottom: 5px;
  width: max-content;
}
.splide .splide__track ul.splide__list li.splide__slide div.box .item .bodyCon {
  width: 100%;
}
.splide .splide__track ul.splide__list li.splide__slide div.box .item .bodyCon h3 {
  color: white;
  font-size: 20px;
}
.splide .splide__track ul.splide__list li.splide__slide div.box .item .bodyCon h3:last-child {
  margin-top: 20px !important;
  text-align: center;
}
.splide ul.splide__pagination {
  display: none;
}

.titlemain {
  position: relative;
}
.titlemain h2 {
  color: black;
}
.titlemain h2 span {
  color: orange !important;
}
.titlemain h2 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
}

body {
  background-color: #e7e7e7;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 2s;
}

.imgShape {
  width: 200px;
  height: 200px;
}
@media (max-width: 1300px) {
  .imgShape {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 577px) and (max-width: 1300px) {
  .imgShape {
    width: 200px;
    height: 200px;
  }
}
.imgShape {
  position: absolute;
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4));
}
.imgShape.imgShape1 {
  top: 20px;
}
.imgShape {
  right: -8%;
  border-radius: 100%;
  animation: spin 13s linear infinite;
}
.imgShape.imgShape2 {
  bottom: 20px !important;
  left: -8%;
}
.imgShape.imgShape3 {
  top: 20px;
  left: -8%;
}
.imgShape.imgShape4 {
  bottom: 20px;
  right: -8%;
}

footer {
  background-color: black;
  background-image: url("../../../imgs/bg.png");
}
footer h5 {
  color: white;
}
@media (max-width: 1300px) {
  footer h5 {
    font-size: 15px;
  }
}
footer h5 span a {
  color: orange;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav#navBar {
  position: fixed;
  top: 0;
  right: initial;
  bottom: initial;
  left: 0;
  background-color: rgba(0, 0, 0, 0.991);
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-image: url("../imgs/bg.png");
  z-index: 1000;
}
nav#navBar .container-fluid {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media (min-width: 769px) and (max-width: 1300px) {
  nav#navBar .container-fluid {
    width: 100% !important;
  }
}
nav#navBar .container-fluid .navLinks {
  width: 100%;
}
nav#navBar .container-fluid .navLinks.navLinks2 {
  width: initial;
  position: initial !important;
  transform: translateX(0) !important;
}
nav#navBar .container-fluid .navLinks.navLinks2 ul li a {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
nav#navBar .container-fluid .navLinks {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 1300px) {
  nav#navBar .container-fluid .navLinks {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1300px) {
  nav#navBar .container-fluid .navLinks {
    display: initial !important;
    position: initial;
    transform: translateX(0);
  }
}
nav#navBar .container-fluid .navLinks ul {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  padding-inline: 0;
  margin: 0;
  margin-right: 2rem;
}
nav#navBar .container-fluid .navLinks ul li {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
nav#navBar .container-fluid .navLinks ul li.active a {
  color: #fec901;
}
nav#navBar .container-fluid .navLinks ul li:hover a {
  color: #fec901;
}
nav#navBar .container-fluid .navLinks ul li img {
  width: 40px;
  margin: 5px;
}
nav#navBar .container-fluid .navLinks ul li:nth-of-type(1) img {
  width: 32px;
}
nav#navBar .container-fluid .navLinks ul li:nth-of-type(2) k img {
  width: 35px;
}
nav#navBar .container-fluid .navLinks ul li:nth-of-type(3) img {
  width: 35px;
}
nav#navBar .container-fluid .navLinks ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 17px;
}
nav#navBar .container-fluid .navLogo {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: row-reverse;
}
@media (max-width: 1300px) {
  nav#navBar .container-fluid .navLogo {
    width: 100%;
    justify-content: space-between;
  }
}
@media (min-width: 992px) and (max-width: 1300px) {
  nav#navBar .container-fluid .navLogo {
    width: initial;
    justify-content: initial;
  }
}
nav#navBar .container-fluid .navLogo .navBtn {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 1300px) {
  nav#navBar .container-fluid .navLogo .navBtn img {
    width: 40px !important;
  }
}
nav#navBar .container-fluid .navLogo .navBtn img {
  width: 50px;
}
@media (max-width: 1300px) {
  nav#navBar .container-fluid .navLogo img {
    width: 100px !important;
  }
}
nav#navBar .container-fluid .navLogo img {
  width: 150px;
}

div.pop-up {
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}
div.pop-up.show {
  opacity: 1;
  z-index: 100000;
}
div.pop-up.show .box-sideNav {
  opacity: 1;
  transform: translateX(0);
}
div.pop-up {
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: initial;
  bottom: initial;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 31, 31, 0.564);
  backdrop-filter: blur(5px);
}
div.pop-up .box-sideNav {
  z-index: 411000;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.5s;
  border-radius: 0px 10px 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
  background-image: url("../imgs/bg.png");
  width: 350px;
}
div.pop-up .box-sideNav .logOut {
  position: absolute;
  top: 20px;
  right: 10px;
  bottom: initial;
  left: initial;
  cursor: pointer;
}
div.pop-up .box-sideNav .logOut img {
  width: 50px;
}
div.pop-up .box-sideNav .logo {
  margin-bottom: 1.5rem;
}
div.pop-up .box-sideNav .logo img {
  width: 200px;
}
div.pop-up .box-sideNav .navLinks {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  width: 90%;
}
div.pop-up .box-sideNav .navLinks ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-inline: 0;
  margin: 0;
  width: 100%;
}
div.pop-up .box-sideNav .navLinks ul li {
  border-block: 1px dashed #fec901;
  width: 80%;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}
div.pop-up .box-sideNav .navLinks ul li:not(:last-child) {
  margin-bottom: 10px;
}
div.pop-up .box-sideNav .navLinks ul li.active a {
  color: #fec901;
}
div.pop-up .box-sideNav .navLinks ul li:hover a {
  color: #fec901;
}
div.pop-up .box-sideNav .navLinks ul li img {
  width: 50px;
}
div.pop-up .box-sideNav .navLinks ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.5s;
}
div.pop-up .box-sideNav .logo2 {
  position: absolute;
  top: initial;
  right: initial;
  bottom: 50px;
  left: initial;
}
div.pop-up .box-sideNav .logo2 img {
  width: 100px;
}
div.pop-up .box-sideNav.box-msaratElt3lm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.pop-up .box-sideNav.box-msaratElt3lm .navLinks ul li {
  justify-content: center;
  padding: 10px;
}
div.pop-up .box-sideNav.box-msaratElt3lm .navLinks ul li:not(:last-child) {
  margin-bottom: 20px;
}
div.pop-up .box-sideNav.box-msaratElt3lm .logo {
  position: initial !important;
  margin-bottom: 30px;
}

header#Home {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../imgs/graduation-cap-with-globe-digital-art-style-education-day.jpg");
}
header#Home::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.596);
  border: 2px solid transparent;
  opacity: 1;
  position: absolute;
  top: 0;
  right: initial;
  bottom: initial;
  left: 0;
  backdrop-filter: blur(4px);
}
header#Home .container {
  z-index: 1;
}
@media (max-width: 1300px) {
  header#Home .container .row {
    flex-direction: column !important;
  }
}
@media (min-width: 769px) and (max-width: 1300px) {
  header#Home .container .row {
    flex-direction: initial !important;
  }
}
header#Home .container .row .col1 .item {
  border: 2px solid #ffa100;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(0, 0, 0, 0.566);
  backdrop-filter: blur(5px);
  overflow: hidden;
  height: 400px !important;
}
@media (max-width: 1300px) {
  header#Home .container .row .col1 .item {
    height: 230px !important;
  }
}
@media (min-width: 992px) and (max-width: 1300px) {
  header#Home .container .row .col1 .item {
    height: 350px !important;
  }
}
header#Home .container .row .col1 .item .carousel-inner .carousel-item {
  position: relative;
}
header#Home .container .row .col1 .item .carousel-inner .carousel-item .imgCon {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
}
header#Home .container .row .col1 .item .carousel-inner .carousel-item .imgCon img {
  width: 350px;
}
@media (max-width: 1300px) {
  header#Home .container .row .col1 .item .carousel-inner .carousel-item .imgCon img {
    width: 230px !important;
  }
}
header#Home .container .row .col1 .item .carousel-inner .carousel-item:nth-of-type(2) .imgCon {
  background-image: url("../imgs/sponsers/banar1.png");
}
header#Home .container .row .col1 .item .carousel-inner .carousel-item:nth-of-type(3) .imgCon {
  background-image: url("../imgs/sponsers/banar2.png");
}
@media (max-width: 1300px) {
  header#Home .container .row .col2 {
    margin-bottom: 30px;
  }
}
header#Home .container .row .col2 .item {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
header#Home .container .row .col2 .item .box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}
@media (max-width: 1300px) {
  header#Home .container .row .col2 .item .box {
    align-items: center;
  }
}
@media (min-width: 769px) and (max-width: 1300px) {
  header#Home .container .row .col2 .item .box {
    align-items: flex-end;
  }
}
header#Home .container .row .col2 .item .box img.headImg {
  width: 280px;
  margin-block: 1rem;
}
@media (max-width: 1300px) {
  header#Home .container .row .col2 .item .box img.headImg {
    width: 200px !important;
  }
}
header#Home .container .row .col2 .item .box p {
  margin: 0;
  color: rgb(227, 227, 227);
  font: bold;
  text-align: end;
}
@media (max-width: 1300px) {
  header#Home .container .row .col2 .item .box p {
    text-align: center;
    width: initial;
  }
}
@media (min-width: 769px) and (max-width: 1300px) {
  header#Home .container .row .col2 .item .box p {
    text-align: end;
    width: initial;
  }
}
header#Home .container .row .col2 .item .box .btnCon {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 20px;
}
header#Home .container .row .col2 .item .box .btnCon a:hover button {
  background-color: rgba(0, 0, 0, 0.758);
  backdrop-filter: blur(5px);
}
header#Home .container .row .col2 .item .box .btnCon a button {
  background-color: transparent;
  border: 2px solid #ffa100;
  border-radius: 10px;
  color: white;
  padding: 5px 15px;
  font-weight: bold;
  transition: all 0.5s;
}
header#Home .container .row .col2 .item .box .btnCon a button img {
  margin-inline: 5px;
  width: 30px;
}

section#Latest {
  position: relative;
}
section#Latest .imgCon {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  transform: rotate(-90deg);
  filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.5));
}
section#Latest {
  position: relative;
  background-color: #f8fafc;
}
section#Latest .container .titlemain {
  position: relative;
}
section#Latest .container .titlemain h2 span {
  color: rgb(123, 104, 0);
}

section#sale {
  overflow: hidden;
  background-color: rgba(255, 253, 243, 0.9019607843);
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section#sale img.imgSale {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 40%;
}
@media (max-width: 1300px) {
  section#sale img.imgSale {
    width: 60%;
  }
}
@media (min-width: 371px) and (max-width: 1300px) {
  section#sale img.imgSale {
    width: 50%;
  }
}
@media (min-width: 577px) and (max-width: 1300px) {
  section#sale img.imgSale {
    width: 30%;
  }
}
section#sale .container {
  position: relative;
  z-index: 1;
}
section#sale .container .titlemain h2 span {
  color: rgb(123, 104, 0);
}

section#course {
  position: relative;
  background-color: #f8fafc;
}
section#course .container .content #splide3 li .box1,
section#course .container .content #splide4 li .box1 {
  background-image: url("../imgs/courses/WhatsApp Image 2025-12-29 at 12.28.40 PM.jpeg");
}
section#course .container .content #splide3 li .box2,
section#course .container .content #splide4 li .box2 {
  background-image: url("../imgs/courses/WhatsApp Image 2025-12-29 at 12.28.41 PM.jpeg");
}
section#course .container .content #splide3 li .box3,
section#course .container .content #splide4 li .box3 {
  background-image: url("../imgs/courses/WhatsApp Image 2025-12-29 at 12.28.42 PM.jpeg");
}
section#course .container .content #splide3 li .box4,
section#course .container .content #splide4 li .box4 {
  background-image: url("../imgs/courses/WhatsApp Image 2025-12-29 at 12.28.43 PM.jpeg");
}
section#course .container .content #splide3 li .box5,
section#course .container .content #splide4 li .box5 {
  background-image: url("../imgs/courses/WhatsApp Image 2025-12-29 at 12.28.44 PM.jpeg");
}
section#course .container .content #splide3 li .box6,
section#course .container .content #splide4 li .box6 {
  background-image: url("../imgs/courses/WhatsApp Image 2025-12-29 at 12.28.45 PM.jpeg");
}
section#course .container .content #splide4 .box .bodyCon {
  text-align: end;
}

section#whyUs, #users {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-image: url("../imgs/Gemini_Generated_Image_mcgbb7mcgbb7mcgb.png");
}
@media (max-width: 1300px) {
  section#whyUs .container .row .col, #users .container .row .col {
    margin-bottom: 1.5rem !important;
  }
}
section#whyUs .container .row .col .item, #users .container .row .col .item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
}
section#whyUs .container .row .col .item .box, #users .container .row .col .item .box {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-image: url("../imgs/Facebook - Link - square - 154 x 154@2x.png");
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 15px;
}
section#whyUs .container .row .col .item .box .title .textCon, #users .container .row .col .item .box .title .textCon {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
}
section#whyUs .container .row .col .item .box .title .textCon img, #users .container .row .col .item .box .title .textCon img {
  width: 50px;
  margin-top: 10px;
}
section#whyUs .container .row .col .item .box .title .textCon h2, #users .container .row .col .item .box .title .textCon h2 {
  color: black;
  font-size: 24px;
  margin-bottom: 0.5rem;
  width: max-content;
}
section#whyUs .container .row .col .item .box .bodyCon, #users .container .row .col .item .box .bodyCon {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}
section#whyUs .container .row .col .item .box .bodyCon h4, #users .container .row .col .item .box .bodyCon h4 {
  text-align: center;
  line-height: 35px;
  font-size: 19px;
  color: rgb(0, 0, 0);
}

section#users, #map {
  background-color: #f8fafc;
  position: relative;
  background-image: none;
}
section#users:after, #map:after {
  display: none;
}
section#users .container .row .col .item .box, #map .container .row .col .item .box {
  background-color: #fcddaf;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
section#users .container .row .col .item .box .title .imgCon img, #map .container .row .col .item .box .title .imgCon img {
  width: 100px;
}
section#users .container .row .col .item .box .textCon, #map .container .row .col .item .box .textCon {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section#users .container .row .col .item .box .textCon h3, #map .container .row .col .item .box .textCon h3 {
  color: rgb(0, 0, 0);
  margin-bottom: 1rem;
}
section#users .container .row .col .item .box .textCon h5, #map .container .row .col .item .box .textCon h5 {
  color: rgb(0, 0, 0);
  width: 100%;
  text-align: end;
  line-height: 35px;
  font-size: 15.5px;
}

section#sponsers {
  background-color: black;
  background-image: url("../imgs/bg.png");
}
section#sponsers img.imgShape1, section#sponsers img.imgShape2 {
  border-radius: 0;
}
section#sponsers .container .content div#splide6 div.splide__arrows {
  display: none;
}
section#sponsers .container .content div#splide6 ul li .box {
  position: relative;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  background-image: none !important;
  background-color: transparent;
  backdrop-filter: blur(5px);
}
section#sponsers .container .content div#splide6 ul li .box .item {
  background-color: rgba(0, 0, 0, 0.84);
}
section#sponsers .container .content div#splide6 ul li .box .imgCon {
  width: 70%;
  height: 90%;
}
@media (max-width: 1300px) {
  section#sponsers .container .content div#splide6 ul li .box .imgCon {
    width: 100%;
    height: 95%;
  }
}
@media (min-width: 577px) and (max-width: 1300px) {
  section#sponsers .container .content div#splide6 ul li .box .imgCon {
    width: 90%;
    height: 90%;
  }
}
@media (min-width: 992px) and (max-width: 1300px) {
  section#sponsers .container .content div#splide6 ul li .box .imgCon {
    width: 80%;
    height: 90%;
  }
}

section#map {
  background-color: rgba(255, 253, 243, 0.9019607843);
}
section#map .container .row .col {
  margin-bottom: 1rem;
}
section#map .container .row .col .item .box {
  background-color: transparent;
  padding: 20px;
  border-radius: 15px;
  box-shadow: none;
}
section#map .container .row .col .item .box .title h2 {
  color: black;
  margin-bottom: 1rem !important;
  width: max-content;
}
@media (max-width: 1300px) {
  section#map .container .row .col .item .box .title h2 {
    font-size: 25px;
  }
}
section#map .container .row .col .item .box .textCon .carousel .carousel-indicators {
  position: absolute;
  bottom: 0px;
}
section#map .container .row .col .item .box .textCon .carousel .carousel-indicators button {
  transition: all 1s;
  background-color: rgb(255, 166, 0);
}
section#map .container .row .col .item .box .textCon .carousel .carousel-indicators button.active {
  background-color: rgb(255, 196, 0);
}
section#map .container .row .col .item .box .textCon .carousel .carousel-inner .carousel-item {
  height: 250px;
}
section#map .container .row .col .item .box .textCon .carousel .carousel-inner .carousel-item .imgCon {
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
}
section#map .container .row .col .item .box .textCon .carousel .carousel-inner .carousel-item .imgCon img {
  width: 100%;
  height: 100%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

section#contact {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../imgs/blk6.jpg");
}
section#contact .container .row .col {
  padding: 20px;
}
section#contact .container .row {
  flex-direction: row-reverse !important;
}
@media (max-width: 1300px) {
  section#contact .container .row .col:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
section#contact .container .row .col1 .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}
section#contact .container .row .col1 .item > *:not(:last-child) {
  margin-bottom: 0.5rem;
}
section#contact .container .row .col1 .item img {
  width: 250px;
}
section#contact .container .row .col1 .item h5 {
  text-align: end;
}
@media (max-width: 1300px) {
  section#contact .container .row .col1 .item h5 {
    text-align: center;
  }
}
@media (min-width: 992px) and (max-width: 1300px) {
  section#contact .container .row .col1 .item h5 {
    text-align: end;
  }
}
section#contact .container .row .col1 .item h5 {
  color: rgb(199, 199, 199);
  line-height: 35px;
  font-size: 16px;
  margin: 0;
}
section#contact .container .row .col1 .item h5 a {
  color: rgb(199, 199, 199);
  transition: all 0.5s;
}
section#contact .container .row .col1 .item h5 a:hover {
  color: white;
}
section#contact .container .row .col1 .item .textCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: end;
  width: 100%;
  text-align: end;
}
section#contact .container .row .col2 .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#contact .container .row .col2 .item h3 {
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 1rem;
}
section#contact .container .row .col2 .item ul {
  list-style: none;
  padding: 0;
  width: 100%;
}
@media (max-width: 1300px) {
  section#contact .container .row .col2 .item ul li {
    text-align: end;
  }
}
section#contact .container .row .col2 .item ul li {
  text-align: center;
  padding-block: 5px;
}
section#contact .container .row .col2 .item ul li:hover a {
  color: white;
}
section#contact .container .row .col2 .item ul li a {
  transition: all 0.5s;
  width: 100%;
  text-align: end;
  color: rgb(173, 173, 173);
  font-size: 18px;
}
section#contact .container .row .col3 .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#contact .container .row .col3 .item h3 {
  width: 100%;
  color: white;
  text-align: center;
}
section#contact .container .row .col3 .item .media ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  padding: 0;
}
section#contact .container .row .col3 .item .media ul li {
  padding: 10px;
}
section#contact .container .row .col3 .item .media ul li a:hover img {
  transform: scale(0.9);
}
section#contact .container .row .col3 .item .media ul li a img {
  width: 30px;
  transition: all 0.5s;
}
section#contact .container .row .col3 .item .logoCon img {
  width: 240px;
}

/*# sourceMappingURL=index.css.map */
