* {
  scroll-behavior: auto !important;
}

.color1 {
  color: #ffa200;
}

a, p, h1, h2, h3, h4, h5, h6 {
  font-family: "secound" !important;
}

.fontAr1 {
  font-family: "banal";
}

.fontAr2 {
  font-family: "secound" !important;
}

a button.fontAr2 {
  font-family: "secound" !important;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title h2 {
  color: white;
  font-family: "secound" !important;
  margin-bottom: 20px;
}
.title h2 span {
  color: #ffa100;
  font-weight: bolder;
  font-family: "banal";
}
.title .spreateor {
  width: 100%;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
}
.title .spreateor img {
  width: 150px;
}

a {
  text-decoration: none !important;
}

span {
  color: #ffc400 !important;
}

.splide .splide__track {
  width: 100%;
  height: 100%;
  padding: 30px;
}
.splide .splide__track ul.splide__list {
  width: 100%;
  height: 100%;
}
.splide .splide__track ul.splide__list li.splide__slide {
  width: 100%;
  height: 250px;
}
.splide .splide__track ul.splide__list li.splide__slide div.box {
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../imgs/courses/WhatsApp Image 2025-12-29 at 12.28.40 PM.jpeg");
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
}
.splide .splide__track ul.splide__list li.splide__slide div.box:hover .item {
  opacity: 1 !important;
}
.splide .splide__track ul.splide__list li.splide__slide div.box.box2 {
  background-image: url("../imgs/courses/WhatsApp Image 2025-12-29 at 12.28.41 PM.jpeg");
}
.splide .splide__track ul.splide__list li.splide__slide div.box.box3 {
  background-image: url("../imgs/courses/WhatsApp Image 2025-12-29 at 12.28.42 PM.jpeg");
}
.splide .splide__track ul.splide__list li.splide__slide div.box.box4 {
  background-image: url("../imgs/courses/WhatsApp Image 2025-12-29 at 12.28.44 PM.jpeg");
}
.splide .splide__track ul.splide__list li.splide__slide div.box .newItem {
  position: absolute;
  top: 15px;
  left: -44px;
  transform: rotate(-45deg);
  background-color: #ffa100;
  width: 150px;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.splide .splide__track ul.splide__list li.splide__slide div.box .newItem h2 {
  width: 100%;
  text-align: center;
  color: white !important;
}
.splide .splide__track ul.splide__list li.splide__slide div.box .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  opacity: 0;
  transition: all 0.5s;
}
.splide .splide__track ul.splide__list li.splide__slide div.box .item .title {
  margin-bottom: 5px;
}
.splide .splide__track ul.splide__list li.splide__slide div.box .item .title h2 {
  margin-bottom: 5px;
  width: max-content;
}
.splide .splide__track ul.splide__list li.splide__slide div.box .item .bodyCon {
  width: 100%;
}
.splide .splide__track ul.splide__list li.splide__slide div.box .item .bodyCon h3 {
  color: white;
  font-size: 20px;
}
.splide .splide__track ul.splide__list li.splide__slide div.box .item .bodyCon h3:last-child {
  margin-top: 20px !important;
  text-align: center;
}
.splide ul.splide__pagination {
  display: none;
}

nav#navBar {
  position: fixed;
  top: 0;
  right: initial;
  bottom: initial;
  left: 0;
  background-color: rgba(0, 0, 0, 0.991);
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-image: url("../imgs/bg.png");
  z-index: 1000;
}
nav#navBar .container-fluid {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media (min-width: 769px) and (max-width: 1300px) {
  nav#navBar .container-fluid {
    width: 100% !important;
  }
}
nav#navBar .container-fluid .navLinks {
  width: 100%;
}
nav#navBar .container-fluid .navLinks.navLinks2 {
  width: initial;
  position: initial !important;
  transform: translateX(0) !important;
}
nav#navBar .container-fluid .navLinks.navLinks2 ul li a {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
nav#navBar .container-fluid .navLinks {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 1300px) {
  nav#navBar .container-fluid .navLinks {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1300px) {
  nav#navBar .container-fluid .navLinks {
    display: initial !important;
    position: initial;
    transform: translateX(0);
  }
}
nav#navBar .container-fluid .navLinks ul {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  padding-inline: 0;
  margin: 0;
}
nav#navBar .container-fluid .navLinks ul li {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
nav#navBar .container-fluid .navLinks ul li.active a {
  color: #fec901;
}
nav#navBar .container-fluid .navLinks ul li:hover a {
  color: #fec901;
}
nav#navBar .container-fluid .navLinks ul li img {
  width: 40px;
  margin: 5px;
}
nav#navBar .container-fluid .navLinks ul li:nth-of-type(1) img {
  width: 32px;
}
nav#navBar .container-fluid .navLinks ul li:nth-of-type(2) k img {
  width: 35px;
}
nav#navBar .container-fluid .navLinks ul li:nth-of-type(3) img {
  width: 35px;
}
nav#navBar .container-fluid .navLinks ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 17px;
}
nav#navBar .container-fluid .navLogo {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: row-reverse;
}
@media (max-width: 1300px) {
  nav#navBar .container-fluid .navLogo {
    width: 100%;
    justify-content: space-between;
  }
}
@media (min-width: 992px) and (max-width: 1300px) {
  nav#navBar .container-fluid .navLogo {
    width: initial;
    justify-content: initial;
  }
}
nav#navBar .container-fluid .navLogo .navBtn {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 1300px) {
  nav#navBar .container-fluid .navLogo .navBtn img {
    width: 40px !important;
  }
}
nav#navBar .container-fluid .navLogo .navBtn img {
  width: 50px;
}
@media (max-width: 1300px) {
  nav#navBar .container-fluid .navLogo img {
    width: 100px !important;
  }
}
nav#navBar .container-fluid .navLogo img {
  width: 150px;
}

div.pop-up {
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}
div.pop-up.show {
  opacity: 1;
  z-index: 100000;
}
div.pop-up.show .box-sideNav {
  opacity: 1;
  transform: translateX(0);
}
div.pop-up {
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: initial;
  bottom: initial;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 31, 31, 0.564);
  backdrop-filter: blur(5px);
}
div.pop-up .box-sideNav {
  z-index: 411000;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.5s;
  border-radius: 0px 10px 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
  background-image: url("../imgs/bg.png");
  width: 350px;
}
div.pop-up .box-sideNav .logOut {
  position: absolute;
  top: 20px;
  right: 10px;
  bottom: initial;
  left: initial;
  cursor: pointer;
}
div.pop-up .box-sideNav .logOut img {
  width: 50px;
}
div.pop-up .box-sideNav .logo {
  position: absolute;
  top: 50px;
  right: initial;
  bottom: initial;
  left: initial;
}
div.pop-up .box-sideNav .logo img {
  width: 200px;
}
div.pop-up .box-sideNav .navLinks {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  width: 90%;
}
div.pop-up .box-sideNav .navLinks ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-inline: 0;
  margin: 0;
  width: 100%;
}
div.pop-up .box-sideNav .navLinks ul li {
  border-block: 1px dashed #fec901;
  width: 80%;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}
div.pop-up .box-sideNav .navLinks ul li:not(:last-child) {
  margin-bottom: 10px;
}
div.pop-up .box-sideNav .navLinks ul li.active a {
  color: #fec901;
}
div.pop-up .box-sideNav .navLinks ul li:hover a {
  color: #fec901;
}
div.pop-up .box-sideNav .navLinks ul li img {
  width: 50px;
}
div.pop-up .box-sideNav .navLinks ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.5s;
}
div.pop-up .box-sideNav .logo2 {
  position: absolute;
  top: initial;
  right: initial;
  bottom: 50px;
  left: initial;
}
div.pop-up .box-sideNav .logo2 img {
  width: 100px;
}
div.pop-up .box-sideNav.box-msaratElt3lm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.pop-up .box-sideNav.box-msaratElt3lm .navLinks ul li {
  justify-content: center;
  padding: 10px;
}
div.pop-up .box-sideNav.box-msaratElt3lm .navLinks ul li:not(:last-child) {
  margin-bottom: 20px;
}
div.pop-up .box-sideNav.box-msaratElt3lm .logo {
  position: initial !important;
  margin-bottom: 30px;
}

header#Home {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../imgs/graduation-cap-with-globe-digital-art-style-education-day.jpg");
}
header#Home::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.596);
  border: 2px solid transparent;
  opacity: 1;
  position: absolute;
  top: 0;
  right: initial;
  bottom: initial;
  left: 0;
  backdrop-filter: blur(4px);
}
header#Home .container {
  z-index: 1;
}
@media (max-width: 1300px) {
  header#Home .container .row {
    flex-direction: column-reverse;
  }
}
@media (max-width: 1300px) {
  header#Home .container .row {
    flex-direction: initial !important;
  }
}
header#Home .container .row .col1 {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 1300px) {
  header#Home .container .row .col1 {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
header#Home .container .row .col1 .item {
  position: relative;
  width: 400px;
  height: 300px;
  overflow: hidden;
  border-radius: 20px;
  border: 2px double #ffa200;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
header#Home .container .row .col1 .item .carousel-item {
  overflow: hidden;
}
header#Home .container .row .col1 .item .carousel-item .imgCon {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
}
header#Home .container .row .col1 .item .carousel-item .imgCon img {
  width: 350px;
}
header#Home .container .row .col1 .item .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header#Home .container .row .col1 .item .carousel-item:nth-of-type(2) {
  background-image: url("../imgs/sponsers/banar1.png");
}
header#Home .container .row .col1 .item .carousel-item:last-child {
  background-image: url("../imgs/sponsers/banar2.png");
}
@media (max-width: 1300px) {
  header#Home .container .row .col2 {
    margin-bottom: 30px;
  }
}
header#Home .container .row .col2 .item {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
header#Home .container .row .col2 .item .box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}
@media (max-width: 1300px) {
  header#Home .container .row .col2 .item .box {
    align-items: center;
  }
}
@media (min-width: 769px) and (max-width: 1300px) {
  header#Home .container .row .col2 .item .box {
    align-items: flex-end;
  }
}
header#Home .container .row .col2 .item .box h1 {
  margin: 0;
}
header#Home .container .row .col2 .item .box h1 img {
  width: 30px;
  margin-top: 10px;
  margin-right: 5px;
}
header#Home .container .row .col2 .item .box h1 {
  color: white;
}
header#Home .container .row .col2 .item .box h1 span {
  color: #ffa100;
  font-size: 60px;
  font-weight: bold;
  font-family: "banal";
}
header#Home .container .row .col2 .item .box p {
  margin: 0;
  color: rgb(227, 227, 227);
  font: bold;
  width: max-content;
  text-align: end;
}
@media (max-width: 1300px) {
  header#Home .container .row .col2 .item .box p {
    text-align: center;
    width: initial;
  }
}
@media (min-width: 769px) and (max-width: 1300px) {
  header#Home .container .row .col2 .item .box p {
    text-align: end;
    width: initial;
  }
}
header#Home .container .row .col2 .item .box .btnCon {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 20px;
}
header#Home .container .row .col2 .item .box .btnCon a:hover button {
  background-color: rgba(0, 0, 0, 0.758);
  backdrop-filter: blur(5px);
}
header#Home .container .row .col2 .item .box .btnCon a button {
  background-color: transparent;
  border: 2px solid #ffa100;
  border-radius: 10px;
  color: white;
  padding: 5px 15px;
  font-weight: bold;
  transition: all 0.5s;
}
header#Home .container .row .col2 .item .box .btnCon a button img {
  margin-inline: 5px;
  width: 30px;
}

section#Latest {
  position: relative;
}
section#Latest .imgCon {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  transform: rotate(-90deg);
}
section#Latest {
  position: relative;
  background-color: #F2F0EF;
}
section#Latest::before {
  position: absolute;
  top: 0;
  right: initial;
  bottom: initial;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(107, 107, 107, 0.404);
  border: 2px solid transparent;
  opacity: 1;
}
section#Latest .container .title {
  position: relative;
}
section#Latest .container .title h2 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

section#sale {
  overflow: hidden;
  background-color: #F2F0EF;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section#sale img.imgSale {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 40%;
}
section#sale::after {
  position: absolute;
  top: 0;
  right: initial;
  bottom: initial;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(107, 107, 107, 0.404);
  border: 2px solid transparent;
  opacity: 1;
}
section#sale .container {
  position: relative;
  z-index: 1;
}
section#sale .container .title h2 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

section#course {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../imgs/overhead-view-real-estate-desk.jpg");
}
section#course::after {
  position: absolute;
  top: 0;
  right: initial;
  bottom: initial;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(107, 107, 107, 0.404);
  border: 2px solid transparent;
  opacity: 1;
  backdrop-filter: blur(2px);
}
section#course .container .title h2 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
section#course .container .content #splide3 li .box1,
section#course .container .content #splide4 li .box1 {
  background-image: url("../imgs/courses/WhatsApp Image 2025-12-29 at 12.28.40 PM.jpeg");
}
section#course .container .content #splide3 li .box2,
section#course .container .content #splide4 li .box2 {
  background-image: url("../imgs/courses/WhatsApp Image 2025-12-29 at 12.28.41 PM.jpeg");
}
section#course .container .content #splide3 li .box3,
section#course .container .content #splide4 li .box3 {
  background-image: url("../imgs/courses/WhatsApp Image 2025-12-29 at 12.28.42 PM.jpeg");
}
section#course .container .content #splide3 li .box4,
section#course .container .content #splide4 li .box4 {
  background-image: url("../imgs/courses/WhatsApp Image 2025-12-29 at 12.28.43 PM.jpeg");
}
section#course .container .content #splide3 li .box5,
section#course .container .content #splide4 li .box5 {
  background-image: url("../imgs/courses/WhatsApp Image 2025-12-29 at 12.28.44 PM.jpeg");
}
section#course .container .content #splide3 li .box6,
section#course .container .content #splide4 li .box6 {
  background-image: url("../imgs/courses/WhatsApp Image 2025-12-29 at 12.28.45 PM.jpeg");
}
section#course .container .content #splide4 .box .bodyCon {
  text-align: end;
}

/*# sourceMappingURL=index.css.map */
