@use "../abstracts" as *;
header#Home{
    position: relative;
    overflow: hidden;
    @include flexCenter();
    @include bgImg();
    background-image: url("../imgs/graduation-cap-with-globe-digital-art-style-education-day.jpg");
    &::before{
        @include shapeNav($w: 100%, $h: 100%, $color:rgba(0, 0, 0, 0.596), $opacity: 1, $border-color:transparent);
        @include Position($type: absolute, $t: 0, $l: 0);
        backdrop-filter: blur(4px);
    }
    .container{
        z-index: 1;
        .row{
            @include responsive(350) {
                flex-direction: column-reverse;
            }
            @include responsive(350) {
                flex-direction: initial!important;
            }
            .col1{
                @include flexCenter();
                justify-content: flex-start;
                @include responsive(350){
                    @include flexCenter();
                    display: flex;
                    
                }
                .item{
                    margin: auto;
                    width: 100%;
                    height: 400px;
                    background-color: rgba(0, 0, 0, 0.447);
                    backdrop-filter: blur(5px);
                    @include responsive(350) {
                        height: 250px;
                    }
                    @include responsive(850) {
                        height: 300px;
                    }
                    position: relative;
                    overflow: hidden;
                    border-radius: 20px;
                    border: 2px double #ffa200;
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                    .carousel-item{
                        overflow: hidden;
                        .imgCon{
                            width: 100%;
                            height: 100%;
                            @include flexCenter();
                            img {
                                width: 300px;
                            }
                        }
                        @include bgImg();
                    }
                }
            }
            .col2{
                @include responsive(350){
                    margin-bottom: 30px;
                }
                .item{
                    @include flexCenter();
                    @include size($w:100%,$h:100%);
                    .box{
                        @include size($w: 100%, $h: 100%);
                        @include flexCenter(column);
                        align-items: flex-end;
                        @include responsive(350) {
                            align-items: center;
                        }
                        @include responsive(850) {
                            align-items: flex-end;
                        }
                        h1{
                            @include responsive(350){
                                font-size: 20px;
                            }
                            margin: 0;
                            color: white;
                            span{
                                color:#ffa100;
                                font-size: 60px;
                                font-weight: bold;
                                font-family: 'banal';
                            }
                        }
                        p{
                            margin: 0;
                            color: rgb(227, 227, 227);
                            font: bold;
                            text-align: end;
                            @include responsive(350){
                                text-align: center;
                                width: initial;
                            }
                            @include responsive(850){
                                text-align: end;
                                width: initial;
                            }
                        }
                        .btnCon{
                            @include flexCenter();
                            flex-direction: row-reverse;
                            gap: 20px;
                            a{
                                &:hover{
                                    button{
                                        background-color: rgba(0, 0, 0, 0.758);
                                        backdrop-filter: blur(5px);
                                    }
                                }
                                button{
                                    background-color: transparent;
                                    border: 2px solid #ffa100;
                                    border-radius: 10px;
                                    color: white;
                                    padding: 5px 15px;
                                    font-weight: bold;
                                    transition: all 0.5s;
                                    img{
                                        margin-inline:5px ;
                                        width: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}