@use "../abstracts" as *;
header#Home{
    position: relative;
    overflow: hidden;
    @include flexCenter();
    @include bgImg();
    background-image: url("../imgs/graduation-cap-with-globe-digital-art-style-education-day.jpg");
    &::before{
        @include shapeNav($w: 100%, $h: 100%, $color:rgba(0, 0, 0, 0.596), $opacity: 1, $border-color:transparent);
        @include Position($type: absolute, $t: 0, $l: 0);
        backdrop-filter: blur(4px);
    }
    .container{
        z-index: 1;
        .row{
            .col1{
                @include flexCenter();
                justify-content: flex-start;
                @include responsive(350){
                    display: none;
                }
                @include responsive(850){
                    display: flex;
                }
                .item{
                    img{
                        width: 300px;
                        @include responsive(850){
                            width: 300px;
                        }
                    }
                }
            }
            .col2{
                .item{
                    @include flexCenter();
                    @include size($w:100%,$h:100%);
                    .box{
                        @include size($w: 100%, $h: 100%);
                        @include flexCenter(column);
                        align-items: flex-end;
                        @include responsive(350) {
                            align-items: center;
                        }
                        @include responsive(850) {
                            align-items: flex-end;
                        }
                        h1{
                            margin: 0;
                            img{
                                width: 30px;
                                margin-top: 10px;
                                margin-right: 5px;
                            }
                            color: white;
                            span{
                                color:#ffa100;
                                font-size: 60px;
                                font-weight: bold;
                                font-family: 'banal';
                            }
                        }
                        p{
                            margin: 0;
                            color: rgb(227, 227, 227);
                            font: bold;
                            width: max-content;
                            text-align: end;
                            @include responsive(350){
                                text-align: center;
                                width: initial;
                            }
                            @include responsive(850){
                                text-align: end;
                                width: initial;
                            }
                        }
                        .btnCon{
                            @include flexCenter();
                            flex-direction: row-reverse;
                            gap: 20px;
                            a{
                                &:hover{
                                    button{
                                        background-color: rgba(0, 0, 0, 0.758);
                                        backdrop-filter: blur(5px);
                                    }
                                }
                                button{
                                    background-color: transparent;
                                    border: 2px solid #ffa100;
                                    border-radius: 10px;
                                    color: white;
                                    padding: 5px 15px;
                                    font-weight: bold;
                                    transition: all 0.5s;
                                    img{
                                        margin-inline:5px ;
                                        width: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}