@use "../abstracts" as *;
header#Home{
    background-color: black;
    .imgCon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 90%;
        z-index: 1;
    }
    overflow: hidden;
    @include flexCenter();
    background-size: contain;
    &::before{
        @include shapeNav($w: 100%, $h: 100%, $color:rgba(0, 0, 0, 0.737), $opacity: 1, $border-color:transparent);
        @include Position($type: absolute, $t: 0, $l: 0);
        z-index: 2;
    }
    .container{
        z-index: 3;
        .row{
            @include responsive(350) {
                flex-direction: column!important;
            }
            @include responsive(850) {
                flex-direction: initial!important;
            }
            .col1{
                @include responsive(350){
                    margin-top: 4rem;
                }
                @include responsive(1050){
                    margin-top: 0!important;
                }
                .item{
                    overflow: hidden;
                    height: 500px!important;
                    width: 100%;
                    @include responsive(350){
                        height: 230px!important;
                    }
                    @include responsive(1050){
                        height: 350px!important;
                    }
                    .carousel-inner{
                        .carousel-item{
                            position: relative;
                            .imgCon{
                            width: 100%;
                            height: 100%;
                            @include bgImg();
                            @include flexCenter();
                            img{
                                width: 350px;
                                @include responsive(350) {
                                    width:230px !important;
                                }
                            }
                            
                            }
                            &:nth-of-type(2){
                                .imgCon{
                                    background-image: url("../imgs/sponsers/banar1.png");
                                }
                            }
                            &:nth-of-type(3){
                                .imgCon{
                                    background-image: url("../imgs/sponsers/banar2.png");
                                }
                            }
                        }
                    }
                }
            }
            .col2{
                @include responsive(350){
                    margin-bottom: 30px;
                }
                .item{
                    @include flexCenter();
                    @include size($w:100%,$h:100%);
                    .box{
                        @include size($w: 100%, $h: 100%);
                        @include flexCenter(column);
                        align-items: flex-end;
                        @include responsive(350) {
                            align-items: center;
                        }
                        @include responsive(850) {
                            align-items: flex-end;
                        }
                        img.headImg{
                            width: 280px;
                            margin-block: 1rem;
                            @include responsive(350) {
                                width: 200px!important;
                            }
                        }
                        p{
                            margin: 0;
                            color: white;
                            text-align: end;
                            font-size: 45px;
                            line-height: 60px;
                            @include flexCenter();
                            font-family: 'banal';
                            font-family: 'AlRaiMediaBold'!important;
                            @include responsive(350){
                                text-align: center;
                                width: initial;
                                font-size: 26px;
                                line-height: 30px;
                            }
                            @include responsive(850){
                                text-align: end;
                                width: initial;
                                
                            }
                        }
                        .btnCon{
                            @include flexCenter();
                            flex-direction: row-reverse;
                            gap: 20px;
                            a{
                                &:hover{
                                    button{
                                        background-color: rgba(0, 0, 0, 0.758);
                                        backdrop-filter: blur(5px);
                                    }
                                }
                                button{
                                    background-color: transparent;
                                    border: 2px solid #ffa100;
                                    border-radius: 10px;
                                    color: white;
                                    padding: 5px 15px;
                                    font-weight: bold;
                                    transition: all 0.5s;
                                    font-family: initial!important;
                                    h4{
                                        font-size: 17px;
                                        letter-spacing: 20px;
                                    }
                                    span{
                                        font-family: 'secound' !important;
                                        color: white!important;
                                        margin-right:1.3px; 
                                        &:last-child{
                                            margin-left: 1.3px;
                                        }
                                    }
                                    @include flexCenter();
                                    img{
                                        margin-inline:5px ;
                                        width: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}