@use "../abstracts" as *;
header#Home{
    position: relative;
    overflow: hidden;
    @include flexCenter();
    @include bgImg();
    background-image: url("../imgs/graduation-cap-with-globe-digital-art-style-education-day.jpg");
    &::before{
        @include shapeNav($w: 100%, $h: 100%, $color:rgba(0, 0, 0, 0.596), $opacity: 1, $border-color:transparent);
        @include Position($type: absolute, $t: 0, $l: 0);
        backdrop-filter: blur(4px);
    }
    .container{
        z-index: 1;
        .row{
            @include responsive(350) {
                flex-direction: column!important;
            }
            @include responsive(850) {
                flex-direction: initial!important;
            }
            .col1{
                .item{
                    border: 2px solid #ffa100;
                    border-radius: 15px;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    background-color: rgba(0, 0, 0, 0.566);
                    backdrop-filter: blur(5px);
                    overflow: hidden;
                    height: 400px!important;
                    @include responsive(350){
                        height: 230px!important;
                    }
                    @include responsive(1050){
                        height: 350px!important;
                    }
                    .carousel-inner{
                        .carousel-item{
                            position: relative;
                            .imgCon{
                            width: 100%;
                            height: 100%;
                            @include bgImg();
                            @include flexCenter();
                            img{
                                width: 350px;
                                @include responsive(350) {
                                    width:230px !important;
                                }
                            }
                            
                            }
                            &:nth-of-type(2){
                                .imgCon{
                                    background-image: url("../imgs/sponsers/banar1.png");
                                }
                            }
                            &:nth-of-type(3){
                                .imgCon{
                                    background-image: url("../imgs/sponsers/banar2.png");
                                }
                            }
                        }
                    }
                }
            }
            .col2{
                @include responsive(350){
                    margin-bottom: 30px;
                }
                .item{
                    @include flexCenter();
                    @include size($w:100%,$h:100%);
                    .box{
                        @include size($w: 100%, $h: 100%);
                        @include flexCenter(column);
                        align-items: flex-end;
                        @include responsive(350) {
                            align-items: center;
                        }
                        @include responsive(850) {
                            align-items: flex-end;
                        }
                        img.headImg{
                            width: 280px;
                            margin-block: 1rem;
                            @include responsive(350) {
                                width: 200px!important;
                            }
                        }
                        p{
                            margin: 0;
                            color: rgb(227, 227, 227);
                            font: bold;
                            text-align: end;
                            font-size: 18px;
                            line-height: 35px;
                            @include responsive(350){
                                text-align: center;
                                width: initial;
                            }
                            @include responsive(850){
                                text-align: end;
                                width: initial;
                            }
                        }
                        .btnCon{
                            @include flexCenter();
                            flex-direction: row-reverse;
                            gap: 20px;
                            a{
                                &:hover{
                                    button{
                                        background-color: rgba(0, 0, 0, 0.758);
                                        backdrop-filter: blur(5px);
                                    }
                                }
                                button{
                                    background-color: transparent;
                                    border: 2px solid #ffa100;
                                    border-radius: 10px;
                                    color: white;
                                    padding: 5px 15px;
                                    font-weight: bold;
                                    transition: all 0.5s;
                                    font-size: 17px;
                                    font-weight: lighter;
                                    img{
                                        margin-inline:5px ;
                                        width: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}