@use "../abstracts" as *;
section#course{
    position: relative;
    background-color:#f8fafc;

    .container{
        .title.titlemain{
            h2{

                color: orange!important;
                font-size: 40px;
                font-family: 'banal'!important;
            }
            h4{
                font-size: 28px;
                @include responsive(350){
                    font-size: 20px;
                }
            }
            
        }
        .content{
            #splide3,
            #splide4{
                li{
                    .box{
                        .title{
                            h2{
                                font-size: 28px;
                            }
                        }
                    }
                    
                }
            }
            #splide4{
                .box {
                        .bodyCon {
                            text-align: end;
                        }
                    }
            }
        }
    }
}