@use "../abstracts" as *;
section#course{
    position: relative;
    background-color:#f8fafc;

    .container{
        .content{
            #splide3,
            #splide4{
                li{
                    .box1{
                        background-image: url("../imgs/courses/WhatsApp\ Image\ 2025-12-29\ at\ 12.28.40\ PM.jpeg");
                    }
                    .box2{
                        background-image: url("../imgs/courses/WhatsApp\ Image\ 2025-12-29\ at\ 12.28.41\ PM.jpeg");
                    }
                    .box3{
                        background-image: url("../imgs/courses/WhatsApp\ Image\ 2025-12-29\ at\ 12.28.42\ PM.jpeg");
                    }
                    .box4{
                        background-image: url("../imgs/courses/WhatsApp\ Image\ 2025-12-29\ at\ 12.28.43\ PM.jpeg");
                    }
                    .box5{
                        background-image: url("../imgs/courses/WhatsApp\ Image\ 2025-12-29\ at\ 12.28.44\ PM.jpeg");
                    }
                    .box6{
                        background-image: url("../imgs/courses/WhatsApp\ Image\ 2025-12-29\ at\ 12.28.45\ PM.jpeg");
                    }
                    
                }
            }
            #splide4{
                .box {
                        .bodyCon {
                            text-align: end;
                        }
                    }
            }
        }
    }
}