@use "../abstracts" as *;
section#Latest{

    position: relative;
    .imgCon{
        position: absolute;
        top: 0;
        right: 0;
        width: 150px;
        transform: rotate(-90deg);
        filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.929));
    }
    position: relative;
    .container{
        .titlemain{
            position: relative;
            h2{
                font-size: 35px;
                color: rgb(0, 0, 0);
                @include responsive(350){
                    font-size: 35px;
                }
                @include responsive(850){
                    font-size: 40px;
                }
                span{
                    color: rgb(123, 104, 0);
                }
            }
        }
        
    }
}