@use "../abstracts" as *;
section#Latest{
    position: relative;
    .imgCon{
        position: absolute;
        top: 0;
        right: 0;
        width: 150px;
        transform: rotate(-90deg);
    }
    position: relative;
    background-color: #F2F0EF;
    &::before{
        @include Position($type: absolute, $t: 0, $l: 0);
        @include shapeNav($w: 100%, $h: 100%, $color:rgba(107, 107, 107, 0.404), $opacity: 1, $border-color:transparent);
    }
    .container{
        .title{
            position: relative;
            h2{
                text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
            }
        }
    
    }
}