@use "../abstracts" as *;
section#Latest{
    position: relative;
    background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    &::before{
        @include Position($type: absolute, $t: 0, $l: 0);
        @include shapeNav($w: 100%, $h: 100%, $color:rgba(107, 107, 107, 0.404), $opacity: 1, $border-color:transparent);
    }
    .container{
        .title{
            position: relative;
            h2{
                text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
            }
        }
    #splide {
            .splide__track {
                @include size($w: 100%, $h: 100%);
                padding: 30px;
                ul.splide__list {
                    @include size($w: 100%, $h: 100%);
                    li.splide__slide {
                        @include size($w: 100%, $h: 250px);
                        div.box{
                            overflow: hidden;
                            position: relative;
                            @include bgImg();
                            background-image: url("../imgs/courses/WhatsApp\ Image\ 2025-12-29\ at\ 12.28.40\ PM.jpeg");
                            border-radius: 10px;
                            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                            @include size($w: 100%, $h: 100%);
                            @include flexCenter();
                            &:hover{
                                .item{
                                    opacity: 1!important;
                                }
                            }
                            &.box2{
                                background-image: url("../imgs/courses/WhatsApp\ Image\ 2025-12-29\ at\ 12.28.41\ PM.jpeg");
                            }
                            &.box3{
                                background-image: url("../imgs/courses/WhatsApp\ Image\ 2025-12-29\ at\ 12.28.42\ PM.jpeg");
                            }
                            &.box4{
                                background-image: url("../imgs/courses/WhatsApp\ Image\ 2025-12-29\ at\ 12.28.44\ PM.jpeg");
                            }
                            .newItem{
                                position: absolute;
                                top: 15px;
                                left: -44px;
                                transform: rotate(-45deg);
                                background-color: #ffa100;
                                width: 150px;
                                @include flexCenter();
                                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                                h2{
                                    width: 100%;
                                    text-align: center;
                                    color: white!important;
                                }
                            }
                            .item{
                                position: absolute;
                                top: 0;
                                left: 0;
                                @include size($w:100%,$h:100%);
                                @include flexCenter(column);
                                padding: 20px;
                                background-color: rgba(0, 0, 0, 0.5);
                                backdrop-filter: blur(4px);
                                opacity: 0;
                                transition: all 0.5s;
                                .title{
                                    margin-bottom: 5px;
                                    h2{
                                        margin-bottom: 5px;
                                        width: max-content;
                                    }
                                }
                                .bodyCon{
                                    width: 100%;
                                    h3{
                                        color: white;
                                        font-size: 20px;
                                        &:last-child{
                                            margin-top: 20px!important;
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            ul.splide__pagination{
                display: none;
                
            }
        }
    }
}