@use "../abstracts" as *;
section#Latest{
    background-color: black;
    background-image: url("../imgs/bg.png");
    .container{
        .content{
            overflow: hidden;
            .owl-stage{
                width: max-content!important;
            }
            .owl-carousel{
                width: max-content;
                .owl-item{
                    
                    width: 500px!important;
                    height: 280px!important;
                    @include responsive(350){
                        width: 250px!important;
                    }
                    @include responsive(850){
                        width: 300px!important;
                    }
                    @include responsive(1050){
                        width: 400px!important;
                    }
                }
                .box{
                    overflow: hidden; 
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    position: relative;
                    cursor: pointer;
                    @include flexCenter();
                    @include bgImg();
                    &:hover{
                        .item{
                            opacity: 1!important;
                        }
                    }
                    background-image: url("../imgs/courses/WhatsApp\ Image\ 2025-12-29\ at\ 12.28.40\ PM.jpeg");
                    &.box2{
                        background-image: url("../imgs/courses/WhatsApp\ Image\ 2025-12-29\ at\ 12.28.41\ PM.jpeg");
                    }
                    &.box3{
                        background-image: url("../imgs/courses/WhatsApp\ Image\ 2025-12-29\ at\ 12.28.42\ PM.jpeg");
                    }
                    &.box4{
                        background-image: url("../imgs/courses/WhatsApp\ Image\ 2025-12-29\ at\ 12.28.44\ PM.jpeg");
                    }
                    .item{
                        width: 100%;
                        height: 100%;
                        margin-right: 30px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: rgba(0, 0, 0, 0.712);
                        backdrop-filter: blur(3px);
                        border: 0;
                        @include flexCenter(column);
                        padding: 15px;
                        opacity: 0;
                        transition: all 0.5s;
                        .title{
                            h2{
                                width: max-content;
                                @include responsive(350){
                                    font-size: 20px;
                                }
                            }
                        }
                        .bodyCon{
                            width: 100%;
                            @include flexCenter(column);
                            align-items: flex-end;
                            h3{
                                color: white;
                                font-size: 20px;
                                text-align: end;
                                width: max-content;
                                &:last-child{
                                    position: absolute;
                                    bottom: 5px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                                span{
                                    color: #ffa100;
                                    font-weight: bolder;
                                    font-family: 'banal';
                                }
                            }
                        }
                    }
                    &.box1{
                        background-color: red;
                    }
                }
            }
        }
    }
}