@use "../abstracts" as *;
section#Latest{
    position: relative;
    .imgCon{
        position: absolute;
        top: 0;
        right: 0;
        width: 150px;
        transform: rotate(-90deg);
    }
    position: relative;
    background-color: #e7e7e7;

    .container{
        .title{
            position: relative;
            h2{
                span{
                    color: rgb(123, 104, 0);
                }
                color: black;
                text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
            }
        }
    
    }
}