@use "../abstracts" as *;
section#map{
    background-color: #fffdf3e6;
    .container{
        .title {
                h2 {
                    font-size: 35px;
                }
            }
        .row{
            .col{
                margin-bottom: 1rem;
                &{
                    .box{
                        .title{
                            h2{
                                font-size: 27px;
                            }
                            .textCon{
                                @include flexCenter();
                                gap: 5px;
                                @include responsive(350){
                                    h2{
                                        font-size: 19px!important;
                                    }
                                }
                            }
                        }
                    }
                }
                &.col3{
                    .box{
                        #carouselExampleCaptions3{
                            .carousel-inner{
                                .carousel-item{
                                    padding: 10px;
                                    .imgCon{
                                        width: 76%;
                                        @include responsive(350){
                                            width: 100%;
                                        }
                                        margin: auto;
                                        padding: 0;
                                        background-color: #d6d6d6;
                                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                                        img{
                                            box-shadow: none;
                                            width: 55%;
                                        }
                                    }
                                    &:nth-of-type(3){
                                        .imgCon{
                                            background-color: #ffffff;
                                        }
                                    }
                                    &:nth-of-type(1){
                                        .imgCon{
                                            background-color: #fcfbfb;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.col4{
                    .box{
                        #carouselExampleCaptions4{
                            .carousel-inner{
                                .carousel-item.active{
                                    padding: 10px;
                                    .imgCon{
                                        width: 76%;
                                        @include responsive(350) {
                                            width: 100%;
                                        }
                                        margin: auto;
                                        padding: 0;
                                        background-color: #201812;
                                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                                        img{
                                            box-shadow: none;
                                            width: 55%;
                                            border-radius: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .item{
                    
                    .box{
                        background-color: transparent;
                        padding: 20px;
                        border-radius: 15px;
                        box-shadow: none;
                        .title{
                            h2{
                                color: black;
                                margin-bottom: 1rem!important;
                                width: max-content;
                                @include responsive(350){
                                    font-size: 25px;
                                }
                            }
                        }
                        .textCon{
                            .carousel{
                                .carousel-control-prev,.carousel-control-next{
                                    img{
                                        width: 50px;
                                    }
                                    img.pref{
                                        transform: rotate(180deg);
                                    }
                                }
                                .carousel-indicators{
                                    position: absolute;
                                    bottom: 0px;
                                    button{
                                        transition: all 1s;
                                        background-color: rgb(255, 166, 0);
                                        &.active{
                                            background-color: rgb(255, 196, 0);
                                        }
                                    }
                                }
                                .carousel-inner{
                                    
                                    .carousel-item{
                                        height: 250px;
                                        .imgCon{
                                            height: 100%;
                                            border-radius: 15px;
                                            overflow: hidden;
                                           padding: 10px;
                                            @include flexCenter();
                                                img {
                                                    border-radius: 15px;
                                                    width: 75%;
                                                    @include responsive(350){
                                                        width: 100%;
                                                    }
                                                    height: 100%;
                                                    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                                                }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}