@use "../abstracts" as *;
nav#navBar{
    @include Position($type: fixed, $t: 0,$l: 0);
    background-color: rgba(0, 0, 0, 0.991);
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-image: url("../../../imgs/bg.png");
    z-index: 1000;
    .container{
        @include flexCenter();
        flex-direction: row-reverse;
        justify-content: space-between;
        @include responsive(850) {
            width: 100%!important;
        }
        
        .navLinks{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            &.navLinks2{
                position: initial!important;
                transform: translateX(0)!important;
            }
            @include flexCenter();
            @include responsive(350){
                display: none;
            }
            @include responsive(1050){
                display: initial!important;
                position: initial;
                transform: translateX(0);
            }
            ul{
                @include flexCenter();
                list-style: none;
                padding-inline: 0;
                margin: 0;
                li{
                    @include flexCenter();
                    padding: 20px;
                    &.active{
                        a{
                            color: #fec901;
                        }
                    }
                    &:hover{
                        a{
                            color: #fec901;
                        }
                    }
                    img{
                        width: 50px;
                    }
                    a{
                        color: white;
                        text-decoration: none;
                        transition: all 0.5s;
                    }
                }
            }
        }
        .navLogo{
            @include flexCenter();
            cursor: pointer;
            flex-direction: row-reverse;
            @include responsive(350) {
                width: 100%;
                justify-content: space-between;
            }
            @include responsive(1050) {
                width: initial;
                justify-content: initial;
            }
            .navBtn {
                @include flexCenter();
                cursor: pointer;
                img {
                    @include responsive(350) {
                        width: 40px !important;
                    }
                    width: 50px;
                }
                }
            img{
                @include responsive(350) {
                    width: 100px!important;
                }
                width: 200px;
            }
        }
    }
}