@use "../abstracts" as *;
nav#navBar{
    @include Position($type: fixed, $t: 0,$l: 0);
    background-color: rgba(0, 0, 0, 0.991);
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-image: url("../imgs/bg.png");
    z-index: 1000;
    padding: 0;
    .container-fluid{
        @include flexCenter();
        flex-direction: row-reverse;
        justify-content: space-between;
        @include responsive(850) {
            width: 100%!important;
        }
        
        .navLinks{
            
            width: 100%;
            &.navLinks2{
                width: initial;
                position: initial!important;
                transform: translateX(0)!important;
                ul{
                    
                    li{
                        padding: 3px;
                        a{
                            @include flexCenter();
                            flex-wrap: nowrap;
                            img{
                                width: 33px;
                            }
                        }
                    }
                }
            }
            @include flexCenter();
            justify-content: flex-end;
            @include responsive(350){
                display: none;
            }
            @include responsive(1050){
                display: initial!important;
                position: initial;
                transform: translateX(0);
            }
            ul{
                @include flexCenter();
                justify-content: flex-end;
                list-style: none;
                padding-inline: 0;
                margin: 0;
                margin-right: 2rem;
                li{
                    @include flexCenter();
                    ;
                    padding: 5px;
                    &.active{
                        a{
                            color: #fec901;
                        }
                    }
                    &:hover{
                        a{
                            color: #fec901;
                        }
                    }
                    img{
                        width: 35px;
                        margin: 5px;
                    }
                    &:nth-of-type(1){
                        img{
                            width: 32px;
                        }
                        
                    }
                    &:nth-of-type(2){k
                        img{
                            width: 35px;
                        }
                        
                    }
                    &:nth-of-type(3){
                        img{
                            width: 35px;
                        }
                        
                    }
                    a{
                        color: white;
                        text-decoration: none;
                        transition: all 0.5s;
                        font-size: 15px;
                        font-family: 'secound' !important
                    }
                }
            }
        }
        .navLogo{
            @include flexCenter();
            cursor: pointer;
            flex-direction: row-reverse;
            @include responsive(350) {
                width: 100%;
                justify-content: space-between;
            }
            @include responsive(1050) {
                width: initial;
                justify-content: initial;
            }
            .navBtn {
                @include flexCenter();
                cursor: pointer;
                img {
                    @include responsive(350) {
                        width: 40px !important;
                    }
                    width: 50px;
                }
                }
            img{
                @include responsive(350) {
                    width: 60px!important;
                }
                width: 80px;
            }
        }
    }
}