@use "../abstracts" as *;
section#sale{
    overflow: hidden;
    background-color: #fffdf3e6;
    position: relative;
    @include bgImg();
    img.imgSale{
        position: absolute;
        top: 0;
        right: 0;
        width: 30%;
        height: 40%;
        @include responsive(350){
            display: none;
        }
        @include responsive(450){
            width: 50%;
        }
        @include responsive(650){
            display: initial!important;
            width: 30%;
        }
    }

    .container{
        position: relative;
        z-index: 1;
        .titlemain{
            h2{
                span {
                    color: rgb(123, 104, 0);
                }
            }
        }
    }
}