@use "../abstracts" as *;
section#sale{
    overflow: hidden;
    background-color: #e7e7e7;
    position: relative;
    @include bgImg();
    img.imgSale{
        position: absolute;
        top: 0;
        right: 0;
        width: 30%;
        height: 40%;
    }

    .container{
        position: relative;
        z-index: 1;
        .title{
            h2{
                text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
            }
        }
    }
}