@use "../abstracts" as *;
section#sale{
    overflow: hidden;
    background-color: #e7e7e7;
    position: relative;
    @include bgImg();
    img.imgSale{
        position: absolute;
        top: 0;
        right: 0;
        width: 30%;
        height: 40%;
        @include responsive(350){
            width: 60%;
        }
        @include responsive(450){
            width: 50%;
        }
        @include responsive(650){
            width: 30%;
        }
    }

    .container{
        position: relative;
        z-index: 1;
        .titlemain{
            h2{
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                padding: 20px 30px;
                background-color: rgba(85, 85, 85, 0.447);
                backdrop-filter: blur(5px);
                border-radius: 10px;
                span {
                        color: rgb(123, 104, 0);
                    }
                text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
            }
        }
    }
}