@use "../abstracts" as *;
section#users,#map{
    background-color: #f8fafc;
    position: relative;
    background-image: none;
    &:after{
        display: none;
    }
    .container{
        .row{
            .col{
                .item{
                    .box {
                        background-color: black;
                        background-image: url("../imgs/bg.png");
                        .title{
                            .imgCon{
                                img{
                                    width: 100px;
                                }
                            }
                        }
                        .textCon{
                            @include flexCenter();
                            flex-direction: column;
                            h3{
                                color: white;
                                margin-bottom: 1rem;
                            }
                            h5{
                                color: white;
                                width: 100%;
                                text-align: end;
                                line-height: 35px;
                                font-size: 15.5px;
                            }
                        }
                    }
                }
            }
        }
    }
}