@use "../abstracts" as *;
section#users,#map{
    background-color: #f8fafc;
    position: relative;
    background-image: none;
    &:after{
        display: none;
    }
    .container{
        .title {
                h2 {
                    font-size: 35px;
                    @include responsive(350) {
                            font-size: 35px;
                        }
                }
            }
        .row{
            .col{
                .item{
                    .box {
                        background-color: #fcddaf;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                        .title{
                            .imgCon{
                                img{
                                    width: 100px;
                                }
                            }
                        }
                        .textCon{
                            @include flexCenter();
                            flex-direction: column;
                            h3{
                                color: rgb(0, 0, 0);
                                margin-bottom: 1rem;
                                font-size: 25px;
                                span{
                                    color: orange;
                                }
                            }
                            h5{
                                color: rgb(0, 0, 0);
                                width: 100%;
                                text-align: center;
                                line-height: 35px;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}