@use "../abstracts" as *;
section#users,#map{
    background-color: #e7e7e7;
    position: relative;
    background-image: none;
    &:after{
        display: none;
    }
    .container{
        .row{
            .col{
                .item{
                    .box {
                        @include shapeNav($w: 100%, $h: 100%, $color: rgba(93, 93, 93, 0.589), $opacity: 1, $border-color: transparent);
                        .title{
                            .imgCon{
                                img{
                                    width: 100px;
                                }
                            }
                        }
                        .textCon{
                            @include flexCenter();
                            flex-direction: column;
                            h3{
                                color: white;
                                margin-bottom: 1rem;
                            }
                            h5{
                                color: white;
                                width: 100%;
                                text-align: end;
                                line-height: 35px;
                            }
                        }
                    }
                }
            }
        }
    }
}