@use "../abstracts" as *;
section#whyUs,#users{
    position: relative;
    @include bgImg();
    background-size: contain;
    background-position: right;
    background-image: url("../imgs/Gemini_Generated_Image_mcgbb7mcgbb7mcgb.png");
    .container{
        .title {
                h2 {
                    font-size: 33px;
                    @include responsive(350){
                        font-size: 30px;
                    }
                }
        }   
        .row{
            .col{
                @include responsive(350) {
                        margin-bottom: 1.5rem !important;
                    }
                .item{

                    @include size($w:100%, $h:100%);
                    @include flexCenter();
                    
                    .box{
                        @include bgImg();
                    width: 100%;
                    height: 100%;
                    background-image: url("../imgs/Facebook\ -\ Link\ -\ square\ -\ 154\ x\ 154@2x.png");
                    
                    border-radius: 10px;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    padding: 15px;
                    
                    .title{
                        .textCon{
                            @include flexCenter();
                            img{
                                width: 50px;
                                margin-top: 10px;
                            }
                            h2{
                               color: black;
                                font-size: 25px;
                                @include responsive(350) {
                                        font-size: 25px;
                                    }
                                margin-bottom: 0.5rem;
                                width: max-content;
                            }
                        }
                    }
                    .bodyCon{
                        @include flexCenter();
                        justify-content: flex-end;
                        h4{
                            
                            text-align: center;
                            line-height: 35px;
                            font-size: 18px;
                            @include responsive(350) {
                                    font-size: 19px;
                                }
                            color: rgb(0, 0, 0);
                        }
                    }
                    
                    }
                }
            }
        }
    }
}