@use "../abstracts" as *;
section#whyUs,#users{
    position: relative;
    @include bgImg();
    background-size: contain;
    background-position: right;
    background-image: url("../imgs/Gemini_Generated_Image_mcgbb7mcgbb7mcgb.png");
    .container{
        .row{
            .col{
                @include responsive(350) {
                        margin-bottom: 1.5rem !important;
                    }
                .item{

                    @include size($w:100%, $h:100%);
                    @include flexCenter();
                    
                    .box{
                    width: 100%;
                    height: 100%;
                    background-color: rgb(0, 0, 0);
                    background-image: url("../imgs/bg.png");
                    border-radius: 10px;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    padding: 15px;
                    
                    .title{
                        .textCon{
                            @include flexCenter();
                            img{
                                width: 50px;
                                margin-top: 10px;
                            }
                            h2{
                                font-size: 24px;
                                margin-bottom: 0;
                                width: max-content;
                            }
                        }
                    }
                    .bodyCon{
                        @include flexCenter();
                        justify-content: flex-end;
                        h4{
                            text-align: center;
                            line-height: 35px;
                            font-size: 19px;
                            color: white;
                        }
                    }
                    
                    }
                }
            }
        }
    }
}