@use "mixin" as *;
* {
    scroll-behavior: auto !important;
}

.color1{
    color: #ffa200;
}

a,p,h1,h2,h3,h4,h5,h6{
    font-family: 'secound'!important;
}
.fontAr1{
    font-family: 'banal'!important;
}
.fontAr2{
    font-family: 'secound' !important;
}
.fontEn1{
    font-family: "Roboto", sans-serif!important;
}
.fontEn2{
    font-family: "Montserrat", sans-serif!important;
}
a button.fontAr2{
    font-family: 'secound' !important;
}
.title {
    @include flexCenter(column);
    h2 { 
        color: white;
        font-family: 'secound' !important;
        margin-bottom: 20px;
        span {
            color: orange;
            font-weight: bolder;
            font-family: 'banal';
        }
    }
    .spreateor{
        width: 100%;
        @include flexCenter();
        img{
            width: 150px;
        }
    }
}
a{
    text-decoration: none!important;
}
span{
    font-family: 'banal'!important;
    color: orange!important;
}
.splide {
    .splide__track {
        @include size($w: 100%, $h: 100%);
        padding: 15px!important;

        ul.splide__list {
            @include size($w: 100%, $h: 100%);

            li.splide__slide {
                @include size($w: 100%, $h: 250px);

                div.box {
                    overflow: hidden;
                    position: relative;
                    @include bgImg();
                    background-image: url("../imgs/courses/WhatsApp\ Image\ 2025-12-29\ at\ 12.28.40\ PM.jpeg");
                    border-radius: 10px;
                    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    @include size($w: 100%, $h: 100%);
                    @include flexCenter();

                    &:hover {
                        .item {
                            opacity: 1 !important;
                        }
                    }

                    &.box2 {
                        background-image: url("../imgs/courses/WhatsApp\ Image\ 2025-12-29\ at\ 12.28.41\ PM.jpeg");
                    }

                    &.box3 {
                        background-image: url("../imgs/courses/WhatsApp\ Image\ 2025-12-29\ at\ 12.28.42\ PM.jpeg");
                    }

                    &.box4 {
                        background-image: url("../imgs/courses/WhatsApp\ Image\ 2025-12-29\ at\ 12.28.44\ PM.jpeg");
                    }

                    .newItem {
                        position: absolute;
                        top: 26px;
                        left: -44px;
                        transform: rotate(-45deg);
                        background-color: #ffa100;
                        width: 182px;
                        @include flexCenter();
                        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

                        h2 {
                            width: 100%;
                            text-align: center;
                            color: white !important;
                        }
                    }

                    .item {
                        position: absolute;
                        top: 0;
                        left: 0;
                        @include size($w: 100%, $h: 100%);
                        @include flexCenter(column);
                        padding: 20px;
                        background-color: rgba(0, 0, 0, 0.5);
                        backdrop-filter: blur(4px);
                        opacity: 0;
                        transition: all 0.5s;

                        .title {
                            margin-bottom: 5px;

                            h2 {
                                margin-bottom: 5px;
                                width: max-content;
                            }
                        }

                        .bodyCon {
                            width: 100%;

                            h3 {
                                color: white;
                                font-size: 20px;

                                &:last-child {
                                    margin-top: 20px !important;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    ul.splide__pagination {
        display: none;

    }
}
.titlemain {
    position: relative;

    h2 {
        color: black;
        span {
            color: orange!important;
        }

        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
    }
}   
body{
    background-color: #e7e7e7;
}
.animate__animated.animate__fadeInUp {
    --animate-duration: 2s;
}
.animate__animated.animate__backInLeft{
    --animate-duration: 2s;
}
.animate__animated.animate__backInRight {
    --animate-duration: 2s;
}
.imgShape{
    width: 200px;
    height: 200px;
    @include responsive(350){
        width: 100px;
        height: 100px;
    }
    @include responsive(650){
        width: 200px;
        height: 200px;
    }
    position: absolute;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4));
    &.imgShape1{
        top: 20px;
    }
    right: -8%;
    border-radius: 100%;
    animation: spin 13s linear infinite;
    &.imgShape2{
        bottom: 20px!important;
        left: -8%;
    }
    &.imgShape3{
        top: 20px;
        left: -8%;
    }
    &.imgShape4{
        bottom: 20px;
        right: -8%;
    }
}
footer{
    background-color: black;
    background-image: url("../imgs/bg.png");
    h5{
        color: white;
        font-size: 15px;
        @include responsive(350){
            font-size: 13px;
        }
        span{
            a{
                color: orange;
            }
        }
    }
}
::-webkit-scrollbar {
    width: 5px;
}


::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 0px;
}


::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 0px;
    transition: all 0.5s!important;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a38500;
}