@use "mixin" as *;
* {
    scroll-behavior: auto !important;
}

.color1{
    color: #E4C590;
}
.title{
    @include flexCenter(column);
    h2{
        color: white;
        span{
            color: #ffa100;
            font-weight: bolder;
        }
    }
}
a,p,h1{
    font-family: 'secound'!important;
}
.fontAr1{
    font-family: 'banal';
}
.fontAr2{
    font-family: 'secound' !important;
}
a button.fontAr2{
    font-family: 'secound' !important;
}
