@use "mixin" as *;
* {
    scroll-behavior: auto !important;
}

.color1{
    color: #ffa200;
}

a,p,h1,h2,h3,h4,h5,h6{
    font-family: 'secound'!important;
}
.fontAr1{
    font-family: 'banal';
}
.fontAr2{
    font-family: 'secound' !important;
}
a button.fontAr2{
    font-family: 'secound' !important;
}
.title {
    @include flexCenter(column);
    h2 {
        color: white;
        font-family: 'secound' !important;
        margin-bottom: 20px;
        span {
            color: #ffa100;
            font-weight: bolder;
            font-family: 'banal';
        }
    }
    .spreateor{
        width: 100%;
        @include flexCenter();
        img{
            width: 150px;
        }
    }
}
a{
    text-decoration: none!important;
}
span{
    color: #ffa100!important;
}
