@use "abstracts" as *;
@use "components/navBar";
@use "components/sideNav";
@use "components/header";
@use "components/latest";
@use "components/sale";
@use "components/course";
@use "components/whyUs";
@use "components/users";
@use "components/sponsers";
@use "components/map";
@use "components/contact";